.showDetailsColor{
    background-color: rgb(218, 218, 217);
    color: rgb(12, 99, 12);
    font-weight: bold;
    font-size: medium;
    margin-bottom: 15px;
    padding: 5px;

}

.notShowDetailsColor{
    color: rgb(185, 29, 53);
    font-weight: bold;
    font-size: medium;
    margin-bottom: 5px;
    
}

.viewSourceColor{
    color: rgb(7, 29, 137);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 6px;
}