.helloBindingColor {
    background-color: #DDDBDA;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(11, 57, 163);
    padding: 10px;
}

.viewSourceColor{
    color: rgb(130, 28, 8);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 15px;
}

.helptextSize{
    font-size: normal;
    color: darkblue;
}