.helloDesigner {
    background-color: #e0e0e0;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #1a237e;
    padding: 10px;
}

.viewSource {
    color: #0a4aa9;
    font-size: medium;
    font-family: sans-serif;
    font-weight: bold;
   
}

.lightningCard {
    background-color: #204aef; 
}
